body {
  background-color:hotpink;
  color:#fdffff
  width: 500px;
  margin-right: auto;
  margin-light: auto;
  <p style="text-align: center;"></p>
  button{
    color:#fdffff
    padding: 5px 20px;
    background-color: :white
    border-style: none;
     {
      
      
    }
  }
}
input {
  height: 20px;
}
  
 

